# .bazelrc

# Build using platforms by default
build --incompatible_enable_cc_toolchain_resolution
build --platforms=@arm_none_eabi//platforms:arm_none_generic

# Remote builds
build:remote --genrule_strategy=remote
build:remote --remote_download_minimal
build:remote --remote_executor=grpc://localhost:8980

# Linux host (used for remote builds)
build:linux --extra_execution_platforms=//platforms/host:linux
