# .bazelrc

# Enable bazel mod
common --enable_bzlmod

# Build using platforms by default
build --incompatible_enable_cc_toolchain_resolution

# Remote builds
build:remote --genrule_strategy=remote
build:remote --remote_download_minimal
build:remote --remote_executor=grpc://localhost:8980

# Linux host (used for remote builds)
build:linux --extra_execution_platforms=//platforms/host:linux
