# .bazelrc

# Target arm-none-eabi toolchain for target builds.
build --crosstool_top=@arm_none_eabi//toolchain

# Target the default cpp compiler for host builds.
build --host_crosstool_top=@bazel_tools//tools/cpp:toolchain