name: macOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  macos:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build examples
        run: |
          bazelisk build //examples...
      - name: Bazel backwards compatibility
        run: |
          USE_BAZEL_VERSION=6.4.0 bazelisk build //examples/...
